body {
    background-color: #e2e2e2; 
}

h1 {
            font-family: 'Comics', sans-serif;
            font-size: 50px;
            text-align: center;
            background: linear-gradient(to right, #ff7e5f, #fef4fb);
            -webkit-background-clip: text;
            color: transparent;
            text-transform: uppercase;
            font-weight: bold;
            text-shadow: 2px 2px 10px rgba(255, 126, 95, 0.5);
}

.trot {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative; /* Obligatoire pour style.left dans js */
}

