body {
    font-family: 'Delius Swash Caps', Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #58d0ff;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-family: 'Chewy', sans-serif;
    color: white;
    margin-bottom: 10px;
}

.question-block {
    background-color: #eaf6f7;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px #00000044;
}

.question-block h2 {
    font-family: 'Chewy', sans-serif;
    font-size: 1.5em;
    color: #9D7153;
}

.question-block p {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    color: #9D7153;
}

.question-block ul {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    color: #9D7153;
}

.question-block ol {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    color: black;
}

.question-block strong {
    color: #6f4b33;
}

.question-block:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}
