body{
    text-align: center;    
}
#html{
    color : MediumSeaGreen;
}
#css{
    color : darkorange;
}
#javascript{
    color : tomato;
}
.bouton{
    position:absolute;
    top:15px;
    left:15px;
}

.bouton img{
    width:40px;;
}