#carre{ 
/* style pour afficher le paragraphe d'identifiant="rouge" sous forme d'un carré rouge */
  top : 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: red;
  margin:0;
}
.bouton{
    position:right;
    margin-left: auto;
    top:15px;
    left:15px;
}

.bouton img{
    width:40px;;
}